/* DESKTOP VERSION */
#timeraw{
    min-width:120px;
}

.panelspacing{
    padding-left: 2px;
    padding-right: 2px;

}

.rawspacing{
    margin-bottom: 5px;
    border-radius: 0px;
    height: 80px;
}

.invisiblepanel{
    background-color: transparent;
    border-color: transparent;
    display: flex;
    align-items: center;
}
.invisiblepanel .panel-body
{
    margin: auto;
}

.bluepanel{
    background-color: #72b1ff;
}

#breakbar{
    width:100%;
    height: 20px;
}

#moduleinfotable{
    width:100%;
}

#descriptiontd{
    font-weight: bold;
    font-size: 120%;
}

.roomtd{
    font-style: italic;
}


/* MOBILE VERSION */
.scheduleTable
{
    width: 100%;
}

.scheduleTable .timeCol
{
    width: 60px;
}

